body, html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
}

body,
html,
.gallery {
  background: #333; 
}

/***
* Header
***/

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  overflow: hidden;
}

.header,
.logo {
  background: #333;
}

.logo {
  width: 50px;
  padding: 5px 3px 5px 7px;
  height: 50px;
}

.app-name,
.tagline {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 18px 34px;
  box-sizing: border-box;
  font-weight: 300;
}

.app-name {
  background: #444;
  color: #ededed;
  font-size: 1.15em;
  letter-spacing: 0.1em;
}

.tagline {
  color: #999;
  font-size: 1em;
  padding-top: 20px;
}

@media(max-width: 335px) {
  .header .logo {
    display: none;
  }

  .header .app-name {
    width: 100%;
    text-align: center;
    padding: 18px 0;
  }
}

/**
* Footer
**/

.app-wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

.app-wrapper:after {
  content: '';
  display: block;
}

.footer, .app-wrapper:after {
  height: 100px;
}

.footer {
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.watermark {
  display: inline-block;
  width: 250px;
  position: relative;
  top: 26px;
  left: 100px;
  background: url('https://s3-us-west-2.amazonaws.com/lab-apps/meserve-kunhardt/image-browser/assets/watermark.png');
  width: 300px;
  height: 52px;
  background-repeat: no-repeat;
}

/**
* Slideshow
**/

.slideshow {
  height: 240px;
  width: 100%;
  background: #232323;
  position: fixed;
  top: 60px;
  z-index: 1;
  transition: height 1s;
  overflow: visible;
}

.slideshow-items {
  padding: 0 55px;
  width: 100%;
  max-height: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  display: none;
  overflow: visible;
}

.slideshow-item {
  display: inline-block;
  height: 200px;
  margin: 20px 10px;
  position: relative;
}

.slideshow-item img {
  height: 200px;
}

.slideshow-guide {
  color: #fff;
  font-weight: 100;
  font-size: 1.1em;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.7em;
}

.slideshow-guide a {
  text-decoration: none;
  color: #aaa;
}

.slideshow-guide p {
  margin: 32px 0;
}

@media(max-width: 785px) {
  .slideshow-guide {
    line-height: 1.2em;
    font-size: 1em;
    margin-top: 40px;
  }

  .slideshow-guide p {
    margin: 10px 0;
  }
}

@media(max-width: 430px) {
  .slideshow-guide {
    margin-top: 70px;
  }

  .slideshow-guide p:nth-of-type(2) {
    display: none;
  }
}

/**
* Gallery
**/

.gallery {
  padding-bottom: 40px;
  padding-top: 340px;
}

.gallery-items {
  max-width: 90%;
  width: auto;
  margin: 0px 60px;
}

.gallery-item {
  width: 20%;
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
}

@media(min-width: 1300px) {
  .gallery-item {
    width: 16.6%;
  }
}

/**
* Similarity Metric
**/

.slideshow-simval {
	width:100%;
	height:5px;
	border:1px solid black;
	box-sizing: border-box;
	margin-bottom:1px;
}

/**
* Captions
**/

.caption {
  position: absolute;
  font-size: 0.8em;
  padding: 5px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  word-wrap: initial;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: normal;
  display: none;
  margin-top: -5px;
}

body.captions .slideshow-item.loaded .caption,
.gallery-item.captions .caption {
  display: block;
}

body.captions .slideshow-item.hidden .caption {
  display: none;
}

@media(max-width: 900px) {
  .gallery-item.captions .caption {
    display: none;
  }
}
